<div class="h-full bg-gry">
    <div class="sticky top-0 bg-gry flex flex-col md:items-center md:flex-row md:justify-between">
        <div class="flex gap-1 justify-end mx-5 md:order-last">
            <input  type="text" #searchInput  placeholder="serach table or room number"   
              class="w-50 md:w-full z-10 p-1 rounded-lg border-2 border-white bg-white outline-none" 
              [(ngModel)] = "searchText"
              (ngModelChange)="onSearch()"/>
            <div class="z-20 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.52 6.52 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5"/></svg> 
            </div>
        </div>
        <div class="flex justify-start gap-4 ms-2 md:ms-5 my-1 py-4 overflow-x-auto text-sm">
            <button class=" px-3 py-2 rounded-xl" (click)="changeSelectedStatus('All')"
                [ngClass]="{'bg-grn' : selectedStatus === 'All','bg-white': selectedStatus !== 'All'}">
                All
            </button>
            <button class=" px-3 py-2 rounded-xl" (click)="changeSelectedStatus('PENDING')"
                    [ngClass]="{'bg-grn' : selectedStatus === 'PENDING','bg-white': selectedStatus !== 'PENDING'}">
                Pending
            </button>
            <button class=" px-3 py-2 rounded-xl" (click)="changeSelectedStatus('OnPROGRESS')"
                    [ngClass]="{'bg-grn' : selectedStatus === 'OnPROGRESS','bg-white': selectedStatus !== 'OnPROGRESS'}">
                OnProcess
            </button>
            <button class=" px-3 py-2 rounded-xl" (click)="changeSelectedStatus('READY')"
                    [ngClass]="{'bg-grn' : selectedStatus === 'READY','bg-white': selectedStatus !== 'READY'}">
                Ready
            </button>
            <button class=" px-3 py-2 rounded-xl" (click)="changeSelectedStatus('SERVED')"
                    [ngClass]="{'bg-grn' : selectedStatus === 'SERVED','bg-white': selectedStatus !== 'SERVED'}">
                Served
            </button>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 z-10">
        @for (orderedItem of filteredOrderedItems; track $index) {
            <div class="flex flex-col gap-3 m-2 md:m-5 rounded-xl bg-white shadow-xl h-98">
                <div class="my-4 mx-2 lg:mx-4 divide-y-2">
                    <div class="grid grid-cols-5 items-center my-1">
                        <div class="col-span-3 flex items-center gap-1 md:gap-4">
                            <p class="bg-grn text-white px-3 py-2 rounded-lg">
                                {{orderedItem.locationType}} {{orderedItem.locationNumber}}
                            </p>
                            <div class="flex flex-col text-sm truncate">
                                <p>{{orderedItem.locationAddress}}</p>
                                <p>{{orderedItem.orderType}}</p>
                            </div>
                        </div>
                        <div class="col-span-2 flex flex-col justify-center gap-1 my-1">
                            <select class="px-1 md:px-2 py-2 rounded-md"
                            [ngClass]="{'bg-orange-300' : orderedItem.orderStatus === 'PENDING',
                                'bg-green-300' : orderedItem.orderStatus === 'READY',
                                'bg-orange-500' : orderedItem.orderStatus === 'PROCESSING'
                            }"
                            [(ngModel)]="orderedItem.orderStatus"
                            (change)="changeStatus(orderedItem.id,$event)">
                                @for (status of statusList; track $index) {
                                    <option value={{status}}>{{status}}</option>
                                }
                            </select>
                            <!-- <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 48 48"><path fill="orange" stroke="currentColor" stroke-width="4" d="M24 33a9 9 0 1 0 0-18a9 9 0 0 0 0 18Z"/></svg>
                                <p class="text-xs truncate">status description</p>
                            </div> -->
                        </div>
                    </div>
                    <div class="flex items-center justify-between text-sm py-1">
                        <p>{{orderedItem.orderDate}}</p>
                        <p>{{orderedItem.timeDuration}}</p>
                        <p>{{orderedItem.orderTime}}</p>
                    </div>
                    <div class="py-2 h-40">
                        <div class="grid grid-cols-4 text-gray-400 mx-2 mb-2 text-sm">
                            <div class="col-span-2">
                                Items
                            </div>
                            <div class="flex justify-center">
                                <p>Qty</p>
                            </div>
                            <div class="flex justify-center">
                                <p>Price</p>
                            </div>
                        </div>
                        <div class="grid grid-cols-4 text-gray-600 mx-2 text-sm">
                            @for (item of orderedItem.orderDetails.slice(0,4); track $index; let idx = $index) {
                                @if(orderedItem.orderDetails.length <= 4 || idx <= 2){
                                    <div class="col-span-2 py-1 truncate">
                                        {{getItemName(item.itemId)}}
                                    </div>
                                    <div class="flex justify-center py-y">
                                        <p>{{item.quantity}}</p>
                                    </div>
                                    <div class="flex justify-center py-1">
                                        <p>{{getItemPrice(item.itemId)}}</p>
                                    </div>
                                } @else if(idx == 3){
                                    <div class="col-span-4 py-1 flex justify-center bg-gray-100 cursor-pointer hover:bg-gray-100/50"
                                     (click)="openOrderedDetail(orderedItem)">
                                        + {{orderedItem.orderDetails.length - 3}} more
                                    </div>
                                } 
                            }
                        </div>
                    </div>
                    <div class="flex gap-2 truncate p-1">
                        <p class="text-gray-400 text-sm">note:</p>
                        <p class="text-sm">{{orderedItem.note}}</p>
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="flex justify-between mx-2 text-lg">
                            <p>Total</p>
                            <p>{{orderedItem.totalPrice}} birr</p>
                        </div>
                        <div class="flex justify-evenly">
                            <button class="text-grn bg-gray-300 px-4 py-2 rounded-lg hover:bg-grn/50"
                                (click)="openOrderedDetail(orderedItem)">
                                See Details
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
        
    </div>
    @if(isDetailClicked && selectedOrderedItem){
        <div class="fixed inset-0 h-full w-full z-20">
            <div class="flex h-full w-full">
                <div class="h-full w-1/12 md:w-1/4 lg:w-1/2 bg-black/40"
                    (click)="toggleDetail()">
                </div>
                <div class="h-full w-11/12 md:w-3/4 lg:w-1/2 bg-white">
                    <div>
                        <button (click)="toggleDetail()" class="text-white focus:outline-none">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="red">
                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                    <div>
                        <div class="flex flex-col gap-3 m-2 rounded-xl bg-white">
                            <div class="my-4 mx-2 lg:mx-4 divide-y-2">
                                <div class="flex justify-between items-center my-1">
                                    <div class="flex items-center gap-2 md:gap-4">
                                        <p class="bg-grn text-white px-3 py-2 rounded-lg">
                                            {{selectedOrderedItem.locationType}} {{selectedOrderedItem.locationNumber}}
                                        </p>
                                        <div class="flex flex-col truncate">
                                            <p>{{selectedOrderedItem.locationAddress}}</p>
                                            <p>{{selectedOrderedItem.orderType}}</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-col justify-center gap-1 my-1">
                                        <select class="bg-orange-300 px-2 py-2 text-md rounded-md"  
                                            [ngClass]="{'bg-orange-300' : selectedOrderedItem.orderStatus === 'PENDING',
                                                'bg-green-300' : selectedOrderedItem.orderStatus === 'READY',
                                                'bg-orange-500' : selectedOrderedItem.orderStatus === 'PROCESSING'
                                            }"          
                                            [(ngModel)]="selectedOrderedItem.orderStatus"
                                            (change)="changeStatus(selectedOrderedItem.id,$event)">
                                            @for (status of statusList; track $index) {
                                                <option value={{status}}>{{status}}</option>
                                            }
                                        </select>
                                        <!-- <div class="flex items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 48 48"><path fill="orange" stroke="currentColor" stroke-width="4" d="M24 33a9 9 0 1 0 0-18a9 9 0 0 0 0 18Z"/></svg>
                                            <p>status description</p>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="flex items-center justify-between text-sm py-1">
                                    <p>{{selectedOrderedItem.orderDate}}</p>
                                    <p>{{selectedOrderedItem.timeDuration}}</p>
                                    <p>{{selectedOrderedItem.orderTime}}</p>
                                </div>
                                <div class="py-2">
                                    <div class="grid grid-cols-5 text-gray-400 mx-2 mb-2 text-sm">
                                        <div class="col-span-2">Items</div>
                                        <div class="flex justify-center">
                                            <p>Qty</p>
                                        </div>
                                        <div class="flex justify-center">
                                            <p>Price</p>
                                        </div>
                                        <div class="flex justify-center">
                                            <p>status</p>
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-5 text-gray-600 mx-2">
                                        @for (item of selectedOrderedItem.orderDetails; track $index; let idx = $index) {
                                            <div class="col-span-2 py-1">
                                                {{getItemName(item.itemId)}}
                                            </div>
                                            <div class="flex justify-center py-y">
                                                <p>{{item.quantity}}</p>
                                            </div>
                                            <div class="flex justify-center py-1">
                                                <p>{{getItemPrice(item.itemId)}}</p>
                                            </div>
                                            <div class="flex justify-center py-1">
                                                <p>{{item.status}}</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="flex gap-2 p-1">
                                    <p class="text-gray-400">note:</p>
                                    <p>{{selectedOrderedItem.note}}</p>
                                </div>
                                <div class="flex flex-col gap-2 py-4">
                                    <div class="flex justify-between mx-2 text-xl">
                                        <p>Total</p>
                                        <p>{{selectedOrderedItem.totalPrice}} birr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

