<div class="flex flex-col  min-h-screen bg-white relative mt-5">
    @if (!isOnItemDetail) {
        <div>
            <div class="sticky top-0 z-30 flex justify-center w-full">
                <div class=" bg-white w-full md:w-3/4">
                    <app-header 
                    [componentName]="componentName"
                    [showSearchBar]="showSearchBar"
                    [prvSearchedText]="prvSearchedText"
                ></app-header>
                </div>
            </div>
            <div *ngIf="!hideCategory" class="sticky top-9 w-full z-20 bg-white">
                 <app-category [mainCategoryList]="mainCategoryList"></app-category>
            </div>
            <div class="mb-12">
                <app-item 
                    (onItemSelected)="onItemSelected($event)"
                    [itemList]="currentItemList"
                    [fromItemDetail]="fromItemDetail"
                ></app-item>
            </div>
        </div>
    }
    @else if(isOnItemDetail){
         <!--Item detail-->
        <div>
            <app-item-detail 
                class="h-10/12"
                [selectedItem]="selectedItem"
                (backToItmes)="onNavigateToItems()"
            ></app-item-detail>
        </div>
    }
   
    <!--footer-->
    <div *ngIf="isFooterExpanded" id="dark-overlay"
     class="fixed top-0 left-0 w-full h-1/6 bg-black bg-opacity-60 z-40 transition-opacity"
       (click)="toggleFooter()">
    </div>    
    <div class="fixed bottom-0 w-full flex justify-center transition duration-700" 
        [ngClass]="{'h-5/6 z-50': isFooterExpanded,
            'translate-y-20':isOnAnimation
        }">
        <app-footer class="w-full md:w-3/4"
         [isFooterExpanded]="isFooterExpanded"
         (footerToggled)="toggleFooter()"
         (orderCompleted)="onNavigateToItems()"
        ></app-footer>
    </div>
</div>







